---
const cookie = Astro.request.headers.get("cookie");
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";

// ...
console.log("cookie", cookie);
---

<Layout>
  <Header />
  <h1>Hola</h1>
</Layout>
